[submodule "go2_robot_sdk/external_lib/aioice"]
	path = go2_robot_sdk/external_lib/aioice
	url = https://github.com/legion1581/aioice.git
	branch = go2
[submodule "frontier_exploration_ros2"]
	path = frontier_exploration_ros2
	url = https://github.com/mertgulerx/frontier_exploration_ros2.git
